.header {
  padding: 60px 0;
  position: absolute;
  width: 100%;
  z-index: 1111;
}
.header .mainbtn {
  margin-left: auto;
}

.header .header_btn {
  text-align: right;
}
.header .nav_menu {
  width: 56%;
}
.header .btncol {
  width: 22%;
}
.header .myRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.main_menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  margin-bottom: 0;
}

.main_menu ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
.signin {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
.signin:hover {
  color: #e5c998;
}
.main_menu ul li a:hover {
  color: #e5c998;
}
.header_btn {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header_btn a {
  margin-left: auto;
}
.icon_bar {
  display: none;
}
.signIn_btn {
  display: none;
}

@media (max-width: 1750px) {
  .header {
    padding: 50px 0;
    z-index: 1111;
  }
  .main_menu ul li a,
  .signin {
    font-size: 16px;
  }

  .mobile_logo img {
    max-width: 250px;
    height: auto;
  }
}

@media (max-width: 1600px) {
  .mobile_logo img {
    max-width: 220px;
  }

  .header {
    padding: 40px 0;
  }
  .main_menu ul li a,
  .signin {
    font-size: 14px;
  }
  .main_menu ul {
    gap: 70px;
  }
}

@media (max-width: 1440px) {
  .mobile_logo img {
    max-width: 190px;
  }

  .header {
    padding: 30px 0;
  }
  .main_menu ul li a,
  .signin {
    font-size: 13px;
  }

  .main_menu ul {
    gap: 55px;
  }
}

@media (max-width: 1200px) {
  .mobile_logo img {
    max-width: 160px;
  }

  .main_menu ul li a,
  .signin {
    font-size: 11px;
  }

  .main_menu ul {
    gap: 35px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 30px 0;
  }

  .main_menu ul li a {
    font-size: 16px;
  }

  .main_menu ul {
    gap: 25px;
  }
  .header_btn {
    display: none;
  }
  .signIn_btn {
    display: block;
  }
  .mobile_logo {
    order: 1;
  }
  .mobile_logo img {
    max-width: 220px;
    height: auto;
  }
  .header .style_nav_menu {
    width: 100%;
  }
  .mobile_menu {
    text-align: center;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    background: black;
    z-index: 999;
    width: 100% !important;
    transition: 0.3s ease-in-out;
    display: block;
    z-index: -111;
  }
  .icon_bar {
    display: inline-block;
    order: 2;
    flex: 0 0 50%;
  }

  .icon_bar span {
    width: 34px;
    display: block;
    height: 3px;
    background: #e5c998;
    transition: all 0.3s ease;
    margin-left: auto;
  }
  .icon_bar span:nth-child(2) {
    margin: 7px 0 7px auto;
  }

  .icon_bar_click .top_line {
    transform: rotate(-136deg) translateX(-3px) translateY(-7px);
  }

  .icon_bar_click .center_line {
    opacity: 0;
  }

  .icon_bar_click .bottom_line {
    transform: rotate(132deg) translateX(-7px) translateY(11px);
  }

  .visible {
    left: 0;
  }
  .main_menu {
    height: 100%;
  }
  .main_menu ul {
    flex-direction: column;
    height: 100%;
    padding-left: 0;
  }
  .main_menu ul li a {
    color: #e5c998 !important;
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .mobile_logo img {
    max-width: 100%;
  }

  .mobile_menu {
    width: 100% !important;
  }

  .icon_bar span {
    width: 28px;
    height: 2px;
  }

  .icon_bar.icon_bar_click .bottom_line {
    transform: rotate(132deg) translateX(-6px) translateY(10px);
  }
}
